.header h1{
    background-color: rgb(54, 241, 54);
    color: white;
}
.header h1:hover{
    color: aqua;
}
body{
    background-color: yellow;
}
button{
    background-color: rgb(54, 241, 54);
    color: white;
    width:100px ;
    height: 50px;
    font-size: large;
}
button:hover{
    color: aqua;
}
a{
    background-color: rgb(54, 241, 54);
    color: white;
}
.pay{
    width: 65px;
    height: 20px;
    font-size: medium;
    background-color: rgb(54, 241, 54);
}
.block{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    padding: 20px;
}
.a{
    border: 5px solid orange;
    background:#1a1a1a ;
    border-radius: 10px;
    overflow: hidden;
    color: white;
    padding: 10px;
    text-align: left;
}
.Flex{
    display: flex;
    gap: 10px;
    padding: 50px;
}
.top{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px;
    padding: 40px;
}
.top .ab{
    width: 300px;
    height: 300px;

}
form{
    margin-left: 500px;
    margin-right: 500px;
    border: 10px solid;
    border-radius: 100px;
}
.bo{
   
    height: 30px;
}